.maisVendidosDiv{
    padding: 4% 10%;
}

.maisVendidosTitle{
    background-color: #FF731D;
    color: white;
    width: fit-content;
    padding: 5px;
    padding-right: 20%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.maisVendidosTitle *{
    margin: 0;
}

.maisVendidosH2Icon{
    font-size: 2.5rem !important;
}