.cart{
    background-color: #FF731D;
    position: fixed;
    bottom: 8%;
    right: 8%;
    color: white;
    border-radius: 100%;
    padding: 5px;
    font-size: 5.5rem !important;
    transition: 0.2s !important;
}

.cart:hover{
    cursor: pointer;
    box-shadow: 0 0 8px gray;
    transform: scale(1.1);
    transition: 0.2s !important;
}

/* Mobile MQ */
@media screen and (max-width: 767px){
    .cart{
        font-size: 3.5rem !important;
    }
}