.gridVantagens{
    padding: 4% 10%;
}

.cardVantagem{
    text-align: center;
    display: flex;
    flex-direction: column !important;
    align-items: center;
}

/* Icone */
.cardVantagem > :first-child{
    color: #FF731D;
    font-size: 6.0rem;
    margin-bottom: 6%;
}

/* Descrição */
.cardVantagem > :last-child{
    font-weight: normal;
    width: 70%;
}

/* Tablet MQ */
@media screen and (max-width: 1023px){
    .gridVantagens{
        padding: 8% 10%;
    }
   
    .cardVantagem > :last-child{
        width: 100%;
    }
}