@font-face {
    font-family: logo;
    src: url(../../assets/fonts/Retrolab.ttf);
}

a{
    text-decoration: none;
}

a:hover{
    color: white;
}

.logo{
    font-family: logo;
    font-size: 2.5rem;
}

.headerNav{
    background-color: #FF731D;
    padding: 1% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerNav *{
    color: white;
}

nav a:hover{
    cursor: pointer;
}

.headerNavDiv2{
    width: 100%;
}

.headerNavDiv2{
    display: flex;
    justify-content: end;
}

.headerNavDiv2 a{
    margin-left: 2%;
    font-weight: bold;
    border: 2px white solid;
    border-radius: 50px;
    padding: 1px 16px;
}

.headerNavDiv2 a:first-of-type{
    background-color: white;
    color: #FF731D !important;
}

/* Mobile MQ */
@media screen and (max-width: 767px){

    .logo{
        font-size: 1.8rem;
    }

    .headerNavDiv2 a{
        font-size: 0.7rem;
    }
}


