.gridVantagens2{
    background-color: #FF731D;
    padding: 0 10%;
    padding-bottom: 4%;
}

.gridVantagens2 *{
    color: white !important;
}

/* Título */
.cardVantagem2>h4 {
    color: #FF731D;
}

/* Descrição */
.cardVantagem2>h6 {
    width: 100% !important;
}

/* Tablet MQ */
@media screen and (max-width: 1023px){
    .gridVantagens2{
        padding-bottom: 8%;
    }
}